* {
  font-weight: normal;
  list-style: none;
  display: block;
  font-size: 30px;
  font-family: 'BioRhyme', serif;
}
title {
  font-size:200px;
  font-family:'Varela Round', bold;
  text-align: center;
  margin-bottom:-50px;


}
body {
  background-color: #9DEEEF;
}

.page_elements {
  text-align: center;
}

ol li {
  text-align: center;
  font-family:'Varela Round', bold;
  padding:auto 100px;
  margin-top:30px;
}

.question {
  font-family: 'Macondo', cursive;
  font-family: 'Merriweather', serif;
  color:darkblue;
  font-size: 50px;
}

.answer {
  font-size: 75px;
  text-align: center;
  font-family: 'Macondo', cursive;
font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
}

.michael {
  font-family: 'Lobster', cursive;
  text-align:center;
  font-size: 50px;

}

h2 {
  font-weight: normal;
  list-style: none;
  display: block;
  font-size: 80px;
  font-family: 'Varela Round', sans-serif;
  margin-top:-30px;
}

.education {
  font-family: 'Macondo', bold;
}
